@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-accent: #EE0808;
  --color-accent-dark: #C40707;
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Syne", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}